@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,900;1,400&display=swap");

$bg: #00000077;
$blur: 4px;

$emph: #ffffff77;
html,
body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-size: contain;
  background-position: center;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
.configs,
.update {
  font-size: 1rem;
  color: white;
  border-radius: 100%;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: grid;
  padding: 0.5rem;
  transition: 0.5s ease-in-out;

  svg {
    width: 1.5rem;
    filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.5));
  }
  &:hover {
    background-color: black;
    transform: scale(1.1);
  }
}
.update {
  left: 5rem;
}
.configs-modal {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;

  .content {
    border-radius: 20px;
    background-color: white;
    width: 90%;
    @media (min-width: 768px) {
      width: 30%;
    }
    position: relative;
    padding: 1rem;
    .container {
      padding: 1rem;
      padding-top: 1rem;
      h1,
      h2 {
        margin: 0;
      }
      position: relative;
    }
    .close {
      position: absolute;
      right: 1rem;
      z-index: 2;
      .x {
        outline: none;
        border: none;
        padding: 0.2rem;
        margin: 0;
        border-radius: 50%;
        background-color: transparent;
        color: #aaa;
        width: 2rem;
        height: 2rem;
        z-index: 2 !important;
        svg {
          width: 1.5rem;
        }
      }
      &:hover {
        .x {
          color: #333 !important;
        }
      }
    }
    .source {
      margin-top: 1rem;
      text-align: left;
      select,
      input {
        outline: none;
        border: none;
        padding: 1rem;
        font-size: 1.2rem;
        background-color: #eee;
        border-radius: 10px;
        option {
          outline: none;
          border: none;
          padding: 1rem;
          font-size: 1.2rem;
          background-color: #eee;
        }
      }
    }
  }
}
.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bg {
  background-color: #333;
}
#canvas {
  max-width: 80%;
  @media (min-width: 768px) {
    max-width: 70%;
    max-height: 70%;
  }
  display: block;
  border-radius: 10px;
}
.main {
  padding: 2rem;
  text-align: center;
}

.datetime {
  z-index: 3;
  background-color: $bg;
  backdrop-filter: blur($blur);
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  display: inline-flex;
  border-radius: 10px;

  @media (min-width: 768px) {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  #time {
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    color: #fff;
  }
  #date {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    margin: 0;
  }
}

.animate__animated.animate__backOutRight {
  --animate-duration: 1.5s;
}
.animate__animated.animate__backInLeft {
  --animate-duration: 1s;
}
.animate__animated.animate__backOutLeft {
  --animate-duration: 1s;
}
#powered {
  position: absolute;
  border-radius: 6px;
  background-color: black;
  right: 2px;
  bottom: 2px;
  padding: 0.5rem;
  font-size: 0.6rem;
  color: white;
  a {
    font-weight: bold;
    margin-left: 0.2rem;
    color: #0070f3;
    text-decoration: none;
  }
}
.description {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-content: right;
  text-align: right;
  max-width: 80vw;
  p {
    background-color: $bg;
    backdrop-filter: blur($blur);
    padding: 0.3rem 0.75rem;
    display: block;
    border-radius: 5px;
    display: inline-flex;
    width: fit-content;
    text-align: right;
    margin-left: auto;
  }

  #title {
    font-size: 1.5rem;
    @media (min-width: 768px) {
      font-size: 2rem;
    }

    margin-bottom: 0;
    font-weight: 700;
  }
  #author {
    margin-top: 0;
    font-weight: 600;
    a {
      text-decoration: none;
      color: #fff;
      margin-left: 0.75rem;
    }
  }
}
#notifications {
  position: absolute;
  width: 250px;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .notification {
    margin: 10px;
    background-color: $bg;
    backdrop-filter: blur($blur);
    color: #fff;
    padding: 0.25rem 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    display: inline-flex;
    transition: 0.2s ease;
    &:hover {
      .close {
        transform: scale(1.25);
      }
    }
    p,
    i {
      align-self: center;
    }
    .text {
      text-align: left;
      flex-grow: 10;
    }
    i {
      font-style: normal;
      transition: 0.2s ease;
      margin-right: 15px;
      min-width: 25px;
    }
  }
  .warning {
    background-color: $emph;
    backdrop-filter: blur($blur);
    color: #000;
    p {
      font-weight: 600;
    }
  }
}

#links {
  z-index: 3;
  display: flex;
  margin-bottom: 3rem;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    backdrop-filter: blur($blur) brightness(1.2);
    border-radius: 5px;
    z-index: 9;
  }

  li,
  .links-menu {
    padding: 5px 10px;
    font-size: 1rem;
    align-self: center;
    .close {
      color: rgba(255, 255, 255, 0.274);
      transition: 0.2s ease;
    }
    &:hover {
      .close {
        color: #ffffff;
      }
    }
  }
  .link {
    z-index: 3;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    margin: 2px;
    transition: 0.2s ease;
    .icon {
      color: inherit;
    }
    &:hover {
      backdrop-filter: blur($blur) brightness(1.3);
      transform: scale(1.1);
      .icon {
        color: #000;
      }
    }
  }
  .links-menu {
    font-size: 1.5rem;
  }
}
.hidden {
  display: none !important;
}
